.replace-el-text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #606266;
  white-space: nowrap;

  &.primary {
    color: #409eff;
  }

  &.info {
    color: #909399;
  }

  &.large {
    font-size: 16px;
  }

  &.small {
    font-size: 12px;
  }
}
